# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.lib/
.Python
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
/htmlcov/
.tox/
.nox/
.coverage
*.cover
nosetests.xml
coverage.xml
*.log

# Pytest
.cache/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# pyright
.pyright/
